<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <nav>
        <%= link_to "Fuzzy Ripper", root_path, id: "logo" %>
      </nav>
    </div>
  </div>
</header>